.container {
    flex-direction: column;
    gap: 50px;
    width: 80%;
    max-width: 550px;
    margin: auto;
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.budget {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}

.p {
    font-weight: 600;
}

span {
    font-weight: 800;
    font-size: 1.5rem;
}
