.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 15px;
}

.option {
    display: flex;
    justify-content: space-between;
}

.option > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.option > div label {
    font-weight: 800;
    font-size: 0.8rem;
}

.option > div img {
    width: 15px;
    cursor: pointer;
}

.counter {
    display: flex;
    gap: 5px;
    align-items: center;
}

.counter button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    width: 15px;
    font-size: 1.1rem;
    border-radius: 4px;
    cursor: pointer;
}

.counter button:hover {
    opacity: 0.8;
}

.counter p {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}
