html {
    font-size: var(--base-size);
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font, "Arial", sans-serif);
    background-color: var(--background-color, #f4f4f4);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
