.banner {
    background-image: url("../../assets/images/banner.jpg");
    background-size: cover;
    min-height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    font-size: 2rem;
    font-weight: 800;
    color: white;
}
