.banner {
    background-image: url("../../assets/images/banner.jpg");
    background-size: cover;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.8rem;
    font-weight: 800;
    background-color: #ffffff30;
    color: var(--primary-color);
}
