.btnContainer {
    text-align: end;
}

.button {
    border: none;
    background-color: transparent;
    width: fit-content;
    margin: auto;
    cursor: pointer;
}

.button img {
    width: 20px;
}
