.container {
    display: flex;
    gap: 10px;
    margin: auto;
}

.container p {
    font-size: 0.9rem;
    font-weight: 600;
}

.switch {
    background-color: #ccc;
    border-color: #ccc;
}

.switch:checked {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.switch:focus {
    box-shadow: 0px 0px 10px var(--secondary-color);
}
