.container {
    border: 1px solid var(--border-color);
    border-radius: 15px;
    padding: 30px 15px;
    box-shadow: var(--shadow);
    width: 100%;
}

.content {
    margin-top: 15px;
}

.content input {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 5px;
    font-size: 0.8rem;
    font-family: var(--primary-font);
    height: 35px;
}

.content input::placeholder {
    color: rgb(193, 192, 192);
    font-family: var(--primary-font);
}

.content button {
    padding: 0px;
    border-radius: 5px;
    font-size: 0.8rem;
    height: 35px;
}

.error {
    color: red;
    margin-bottom: 1rem;
    font-weight: bold;
}
